body {
    background-color: hsl(59, 95%, 78%);
  }
  
  h1 {
    color: rgb(119, 197, 74);
    margin-left: 20px;
    font-size: 90px;
  }

  #para1 {
    text-align: center;
    color: rgb(118, 71, 206);
  }

  .center {
    text-align: center;
    color: rgb(175, 38, 102);
  }
  